@media only screen and (min-width: 32.5em){
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    header{
        background-color:darkcyan;
        color:blanchedalmond;
        padding:70px;
    }
    footer{
        background-color:darkcyan;
        color:blanchedalmond;
        padding: 10px;
    }
}