#content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
    
}
header main footer{
    max-width: 500px;
    margin: 1.25rem auto;

}
header{
    background-color:darkcyan;
    color:blanchedalmond;
    padding:70px;
}
footer{
    background-color:darkcyan;
    color:blanchedalmond;
    padding: 10px;
}

picture {
    margin-top: -60px;
    float: left;
    margin-left: 150px;
}

ul li{
    list-style: none;
    
}
ul a{
    text-decoration: none;
}
ul {
    line-height: 2em;
}

h1 {
    margin-left: 100px;
    font-size: 2.5rem;
    margin-top: 100px;
    

}

h2 {
    
    font-size: 1rem;

}