body {
	font-family: 'Roboto', Arial, sans-serif;
    
}
header, footer {
	background-color:  darkcyan;
	color: rgba(255, 255, 255, 1);
	padding: 5px;
	text-align: center;	
}
header, footer, main {
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	font-family: 'Milonga', "Arial Black", fantasy;
	font-size: 1.5em;
}
h2 {
	font-size: 1em;
}
/*header img {
	height: 151px;
	width: auto;
}*/
main {
	padding-left: 20px;
    line-height: 1.5em;
}
li a {
	color: rgba(4, 61, 14, .7);
	text-decoration: none;
}
li a:hover {
	color: rgba(143, 143, 143, 1);
}

footer p a {
	color: rgba(255, 255, 255, 1);
}
footer a:hover {
	color: rgb(184, 14, 14);
}

