@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Roboto&display=swap');
#content {
    margin: 0;
    padding: 0;
    background-color: rgba(177, 203, 218, 0.404);
    box-sizing: border-box;
    font-family: 'Roboto','Times New Roman', Helvetica, serif sans-serif;
    font-size: 18px;
}

/*Header*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', serif;
    color:#fff;
}

header {
    background-color: #0a5200;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
}
.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
}
.socialnav{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    margin-left: -40px;
    

}
#ham {
    font-size: 24px;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: -10px;
}

#ham span:nth-child(1) {
    display: block;
}

#ham span:nth-child(2) {
    display: none;
}

#ham.open span:nth-child(1) {
    display: none;
}

#ham.open span:nth-child(2) {
    display: block;
}

div.socials,
nav {
    place-self: center end;
    margin-left: -600px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
    
}

div.logo-container img {
    padding-top: -10px;
    margin: 0 0 0 -20px;
    width: 60%;
    
}
div.logo-container h4{
    margin-top: 10px;
    margin-left: -70px;
}

nav ul {
    display: none;
}

nav.open ul {
    list-style-type: none;
    display: block;
    padding: 0;
    background-color:  #0a5200;
    position: fixed;
    margin: 0;
    top: 138px;
    left: 0;
    width: 100%;
    height: inherit;
    text-align: center;
}

header ul a {
    display: block;
    text-decoration: none;
    color: #ffff;
    padding: 10px 0;

}

header ul a:hover {
    padding: 10px 0px;
    text-align: center;
    background: linear-gradient(to right, #ffff00 0%, #ff3399 100%);
    transition: .5s ease-in-out;
    border-radius: 50px;
}

.socials img {
    width: 30px;
    padding-top: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.date p {
    background-color: #34a0f3;
    text-align: center;
    padding: 7px 5px;
    color:  #ffff;
    border-radius: 5px;
}

.date {
    grid-column: 1/span 3;
    margin-top: -20px;
    margin-bottom: -10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Main Footer */

footer {
    justify-items: center;
    background-color: #0a5200;
    color: #fff;
    text-align: center;
    margin: 10px;
}
footer a{
    color:#fff;
    text-decoration: none;
}

hr {
    border-top: 1px solid #ffff;
    color: #ffff;
    margin: 10px 50px 0 50px;
}

/* Join page */
form fieldset {
	margin-bottom: 25px;
	border: 3px solid #153e5c;
	border-radius: 10px;
	padding: 10px;
}
form legend {
	margin: 0 5px;
	padding: 0 10px;
}
form label {
	display: block;
}
.standardLabel {
	padding: 10px;
}

.radioLabel {
	padding: 5px 10px 5px 15px;
}
.radioLabelLast {
	padding: 5px 10px 10px 15px;
}
.standardInput {
	display: block;
	padding: 10px;
	margin-top: 2px;
	border: solid .5px #000000;
	border-radius: 4px;
	color: #000000;
	box-sizing: border-box;
	width: 100%;
}
.textArea {
	min-height: 100px; 
    resize: none;
}
input:required {
	border-left: #f2be54 solid 6px;
	background-color: rgba(242, 190, 84, 0.2);
}
input:required:valid {
	border-left: #000000 solid 6px;
	background-color: #ffffff;
}
input[type="submit"] {
	border: none;
    font-weight: bold;
    background-color: #f2be54;
    color: #000000;
    border-radius: 10px;
	padding: 15px 20px 15px 20px;
	margin-left: 25px;
	margin-bottom: 20px;
}
/* change placeholder color*/
::-webkit-input-placeholder { 
	color: #888888;
  }
::-moz-placeholder { 
	color: #888888;
  }
:-ms-input-placeholder { 
	color: #888888;
  }
:-moz-placeholder { 
	color: #888888;
  }


/* hidden arrows on num input for Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* hidden arrows on num input for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.reportStormImg {
	display: none;
}

div#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
    
}
#maincontent{
    background: #ffff;
    margin:10px;
}
.infoheader p{
    text-align: center;
    padding: 10px;
}
.infoheader h2{
    color: #faac11;
    text-align: center;
}

#banner{
    display: none;
    text-align: center;
    background-color: #faac11;
}
.benefit{
    border: 1px solid #34a0f3;
    margin: 20px 0 0 0;
    max-height: 400px;
}