body{
    max-width: 960px;
    padding: auto;
    margin: auto;
}
.content{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: burlywood;
    grid-area: 
        "event hero hero spot1"
        "weather hero hero spot2"
        "join release release spot3";
    grid-gap: 5px;
}

#event {
    grid-area: event;
    background-color: chartreuse;
    
}
#weather {
    grid-area: weather;
    background-color: cyan;
    
}
#join {
    grid-area: join;
    background-color: cyan;
}
#hero {
    grid-area: hero;
    background-color: cyan;
}
#release {
    grid-area: release;
    background-color: cyan;
}
#spot1 {
    grid-area: spot1;
    background-color: cyan;
}
#spot2 {
    grid-area: spot2;
    background-color: cyan;
}
#spot3 {
    grid-area: spot3;
    background-color: cyan;
}
