@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Roboto&display=swap');
body{
    /*max-width: 960px;*/
    margin: auto;
    line-height: 1.5rem;
    font-size: 2.rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
   
}
/*Main*/
main {
    margin-left: 50px;
    margin-right: 50px;
}
.content{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "event hero hero spot"
        "weather hero hero spot"
        "join release release spot";
    grid-gap: 10px;
}

#event {
    grid-area: event;
    background-color: #e5ecc5;
    padding: 15px;
    border:1px solid rgba(0, 0, 0, 0.3);
}
#weather {
    grid-area: weather;
    background-color:#e5ecc5;
    padding: 15px;
    border:1px solid rgba(0, 0, 0, 0.3);
}
#join {
    grid-area: join;
    background-color: #e5ecc5;
    padding: 15px;
    border:1px solid rgba(0, 0, 0, 0.3);
}
#hero {
    grid-area: hero;
    background-color: #e5ecc5;
    padding: 15px;
    border:1px solid rgba(0, 0, 0, 0.3);
}
#release {
    grid-area: release;
    background-color: #e5ecc5;
    padding: 15px;
    border:1px solid rgba(0, 0, 0, 0.3);
}
#spot {
    grid-area: spot;
    display: grid;
    background-color: #e5ecc5;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border:1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
      
}

#spot>div {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
}




/*header*/

h1, h2, h3, h4 {
    font-family: 'Roboto', serif;
    color: #012A4A;
}
p, a,.text {
    font-family: 'Roboto','Times New Roman','Trebuchet MS', sans-serif sans-serif;
    font-size: 24px;
}

header {
    background-color:rgb(1, 54, 7);
    display: grid;
    grid-template-columns: 55% auto 50px;
    padding: 0 5px;
    margin: 10px;
}

#hamburgerBtn {
    font-size: 24px;
    background-color: transparent;
    border-radius: 5px;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

div.socialicon,
nav {
    place-self: center end;
    display: flex;
    padding: 10px;
}

.chamber {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.site{
    color:yellow;
    margin-top: -140px;
    margin-left: 220px;
}
.logo{
    width: 30%;
    padding: 10px;
    margin-left: 40px;
}
nav ul {
    display: none;
    list-style-type: none;
}

nav.open ul {
    list-style-type: none;
    display: block;
    padding: 0;
    background-color: white;
    /*position: fixed;*/
    margin: 0;
    top: 200px;
    left: 0;
    width: 100%;
    height: inherit;
    text-align: center;
}

header ul a {
    display: block;
    text-decoration: none;
    color: #eecf1d;
    padding: 10px;
}

header ul a:hover {
    /*border-bottom: 4px solid #012A4A;*/
    color: white;
    padding: 20px;
    text-align: center;
}

.socialicon img {
    width: 30px;
    padding-top: 10px;
    border-radius: 5px;   
}
#currenttime {
    background-color:#0081b8;
    grid-column: 1/span 3;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 15px;
    text-align: center;
    padding: 10px;
    color:white;
}


#barfooter{
    display: grid;
    /*height: 100vh;*/
    background-color: rgb(1, 54, 7);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "adress info"
        "footerp footerp";
    grid-gap:10px;
    color:#eecf1d;
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.adress{
    grid-area: adress;
    display: flex;
    padding: 30px;
    line-height: 1.7em;
    margin-left: 30px;

}

.info{
    grid-area: info;
    line-height: .5em;
    padding-left: 50px;
    color: #eecf1d;
    text-align: center;
    margin-top: 10px;
    margin-right: 80px;
}
.footerp{
    grid-area: footerp;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding : 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -180px;
    color:#ffffff;

}
footer a{
    text-decoration: none;
    color:#eecf1d;
    font-size: .8em;
}

#barfooter{
    line-height: .5em;
}

.logofot {
    margin-top: -50px;
    max-width: 100%;
}
.add {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 1em;
}
