@media only screen and (min-width: 32.5em) {
    header {
       margin: 10px;
    }
    nav.open ul {
        top: 125px;
    }

    /*FOOTER*/
    .address-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        margin-bottom: -30px;
        margin-left: -50px;
        
    }
    .address-1 .address{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .address-1 .address img{
        margin: -10px 30px 0 0;
        width: 60%;
    }
    .add{
        margin-top: -10px;
        margin-left: -80px;
    }
    .add h4{
        margin: 0 0 -10px 0;
    }
    .contact{
        margin-top: -10px;
    }
    footer a{
        color:#fff;
        text-decoration: none;
    }
    .footer1{
        padding: 1px;
        font-size: 18px;
    }
    
    /* the main section*/
    /*main{
        display: flex;
        flex-direction: column;
    }*/
    
    .maincontent {
        grid-template-columns: repeat(3, 1fr);
    }
    .hero {
        grid-column: 1/4;
        grid-row: 1;
        margin-bottom: 0px;
    }
    .new {
        grid-column: 1/4;
        grid-row: 2;
    }
    .spot {
        grid-column: 1/4;
        grid-row: 3;
        grid-template-columns: 1fr 1fr;
    }
    .spot div:nth-child(3) {
        display: none;
    }
    .spot div:nth-child(1) {
        margin-right: 3px;
    }
    .spot div:nth-child(2) {
        margin-left: 3px;
    }
    .join {
        display: block;
        grid-column: 1/4;
        grid-row: 4;
    }
    .event {
        grid-column: 1/3;
        grid-row: 5;
    }
    .weather {
        grid-column: 3/4;
        grid-row: 5;
    }
    picture hero-image{
        width: 50%;
        
    }
    /*Gallery*/
    .sun img:hover{border-radius: 50px 400px 50px 400px;}
    .humankind img:hover{box-shadow: 0 0 50px #333;}
    .voortrekker img:hover{opacity: .5;}
    .park img:hover{filter: blur(1px) grayscale(75%);}
    .trafigura img:hover{width: 50%; height: 300px ; object-fit: cover;}
    .tablemountain img:hover{border-radius: 100px; width:35%; margin: 0 3em .5em 0;}

    /*join page*/
    
    .report {
        display: inline;
        margin: 10px;
    } 
    div#info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 10px;
        
    }

    /*Directory Page*/
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 25px 15px;
      }
      .card address {
        padding: 0 45px;
        margin-bottom: -15px;
      }
    
      .card p {
        font-size: 1.3rem;
        margin-bottom: -4px;
      }
    
      .list tr {
        display: grid;
        grid-template-columns: 45% 55%;
        width: 100%;
        justify-items: center;
      }
}