@media only screen and (min-width: 545px) {
    header {
        grid-template-columns: 55% auto 120px;
    }
    nav.open ul {
        top: 125px;
    }
    footer {
        grid-template-columns: 1fr 1fr;
    }
    .logofot {
        display: grid;
        grid-template-columns: 130px auto;
        padding-top: 10px;
    }
    .logofot img {
        padding-top: 25px;
        width: 95%;
    }
    .info {
        grid-row: 1;
        grid-column: 2;
        margin: 0;
    }
    .fb,
    .fl {
        display: none;
    }
    .fm {
        display: block;
    }
}
