@media only screen and (min-width:1200px){
    .wide-view{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 0 0 0;
    }
    .link-tier-1,.link-tier-2{
        padding:10px 50px
    }
    .home-buttons{
        display:none
    }
    .home-temple-buttons-container{
        display:none
    }
    .link-button{
        min-width:145px;

    }
    header{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .logo{
        max-width: 250px;
    }
    
    .wide-location-links{
        display:block;
        max-width:500px;
        /*height:450px;*/
        /*border:solid #fff .5px;*/
        margin-bottom: -140px;
        margin-left: 15px;
    }
    .wide-location-links img{
        width:100%;
        position:relative;
        top:-160px;
        z-index:-100;
        border-radius:5px;
    }
    .wide-links-container{
        display:flex;
        justify-content:center;
        width:80%;
        margin:0 auto;
    }
    .wide-accomm,.wide-book{
        margin:0 30px 0 0
    }
    .fulltext{
        max-width:1500px;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        padding:0 0 0 5%
    }
    .fulltext article{
        width:90%
    }
    .accordion{
        padding:10px 3%
    }
    #footer p{
        margin:1%
    }
    .wide-accomm,.wide-book,.wide-events{
        font-size: 16px;
        font-weight: bold;
    }

}